.hj-wrap {
    text-align: center;
    color: #ffffff;
    position: relative;
    width: 100%;
    height: 200px;
    margin: 10px auto;
    clear: both;
    overflow: hidden;
  }
  
  .arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    cursor: ns-resize;
    background-color: red;
  }
  
  .hj-transverse-split-div {
    position: relative;
    float: left;
    height: 100%;
    padding: 0px;
    background: gray;
    overflow: hidden;
  }
  
  .hj-wrap .hj-transverse-split-label {
    position: absolute;
    right: 0;
    top: 0;
    float: left;
    width: 5px;
    height: 100%;
    display: block;
    cursor: ew-resize;
    background-color: #b714d4;
    z-index: 9;
  }
  
  .hj-vertical-split-div {
    position: relative;
    border: 0px solid red;
    width: 99.9%;
    margin: 0 auto;
    background-color: gray;
  }
  
  .hj-vertical-split-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    display: block;
    cursor: ns-resize;
    background-color: #fff;
    z-index: 9;
  }