<p>dashboard works!</p>

<div class='hj-wrap'>
    <div class="hj-transverse-split-div">
        Horizontal
        <label class="hj-transverse-split-label"></label>
    </div>
    <div class="hj-transverse-split-div">Horizontal 2
        <label class="hj-transverse-split-label"></label>
    </div>
    <div class="hj-transverse-split-div">Horizontal 3
        <label class="hj-transverse-split-label"></label>
    </div>
    <div class="hj-transverse-split-div">Horizontal 4
        <label class="hj-transverse-split-label"></label>
    </div>
    <div class="hj-transverse-split-div">Horizontal 5
    </div>
    <div class="arrow"></div>
</div>